<div class="container">
  <div class="jumbotron">
    <h1>AngularJS Tutorial</h1>
    <p>by Piotr Jaworski</p>
  </div>
  <div class="row" ng-controller="EventsCtrl">
    <div class="col-md-12">
    </div>
  </div>
</div>