<h4>
  Company Email Signature Format
  <i class="fa fa-question-circle"
     tooltip-placement="{{placement.selected}}"
     uib-tooltip="Click on the component to change its formatting"
  ></i>
</h4>

