<div class="row">
  <!-- Drag and Drop zone -->
  <div class="col-md-8 advancedDemo">
    <div class="dropzone box box-yellow">
      <h4>
        Company Email Signature Format
        <i class="fa fa-question-circle"
           uib-tooltip="Click on the component to change its formatting"
        ></i>
      </h4>
      <div class="container-element box box-blue">
        <ul dnd-list="model"
            dnd-horizontal-list="true"
            class="itemlist">
          <li ng-repeat="item in model"
              dnd-draggable="item"
              dnd-effect-allowed="move"
              dnd-moved="model.splice($index, 1)"
              dnd-selected="selectCallback(index, item, external, type)"
              ng-class="{'selected': selected === item}">
            {{item.label}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Font style zone -->
  <div class="col-md-4">
    <h4>Title Field</h4>
    <div class="container-element">
      <div class="form-group">
        <label for="font">Font</label>
        <select
          ng-model="selectedFont"
          ng-options="font for font in fonts"
          ng-change="selectFont()"
          class="form-control"
          id="font">
        </select>
      </div>
      <div class="form-group">
        <label for="size">Size</label>
        <select
          ng-model="selectedSize"
          ng-options="size for size in sizes"
          ng-change="selectSize()"
          class="form-control"
          id="size">
        </select>
      </div>
      <div class="form-group">
        <label for="color">Color: {{ selectedColor }}</label>
        <input
          minicolors
          id="color"
          class="form-control"
          type="text"
          ng-model="selectedColor">
      </div>
    </div>
  </div>
</div>
