@import "bootstrap";
@import "font-awesome";
@import "variables";

html{
  height: 100%;
  width: 100%;
}
body{
  position: relative;
  background-color: $background-color;
  height: 100%;
  width: 100%;
}
